<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithmic Trading</title>
</head>
<h3>
	<a href="/">Home</a>
    ||
	<a href="/training">Training Your Classification Network</a>
	||
	<a href="/prediction">Predict Most Profitable 3xETF</a>
</h3>
<body onload="server.training_status_box_update('t_status',
                    'm_name_input','train_button',
                    'models_to_test_select','num_epoch_select',
                    'learning_rate_select','lead_up_day_select',
                    'limit1_values_select', 'limit2_values_select',
                    'limit3_values_select',
                    'momentum_consideration_day_select',
                    'checkbox_putt_call',
                    'checkbox_junk_bond_demand',
                    'checkbox_mcclellan_summation_index')">

<table>
    <tr>
        <th><h2 style="text-decoration: underline;">
            Training Your Classification Network</h2></th>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <p>Please Create a Unique Model Name</p>
            <input type="text" id="m_name_input"
                   onkeyup="enableTrainButton()"
                   style="width:230px;height:20px;line-height:1em;
                   color:black;padding:1px;resize:none;">
        </td>
    </tr>
    <tr>
        <td>
            <!--The title of this section will be used as an interlock variable
                to ensure at least one input is selected for dataset generation
                ...the 'Generate Dataset' button will only be enabled when
                at least one input selection checkbox is checked and the user
                has specified a name for the new dataset. -->
            <p id="input_interlock" value="False">
                What inputs would you like to use to create your dataset?</p>
            <input type="checkbox" id="checkbox_putt_call"
                name="checkbox_putt_call" value="False"
                onclick="setInputInterlock(this)">
            <span>- Put/Call Ratios</span>
            <br>
            <input type="checkbox" id="checkbox_junk_bond_demand"
                name="checkbox_junk_bond_demand" value="False"
                onclick="setInputInterlock(this)">
            <span>- Junk Bond Demand</span>
            <br>
            <input type="checkbox" id="checkbox_mcclellan_summation_index"
                name="checkbox_mcclellan_summation_index" value="False"
                onclick="setInputInterlock(this)">
            <span>- McClellan Summation Index</span>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        <br>
            <span>
                How many Neural Networks would you like to use?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="models_to_test_select"
                    id="models_to_test_select" >
              <option value="{{models_to_test_values[0]}}" selected>
                                {{models_to_test_values[0]}}
              </option>
              {% for models_to_test_value in models_to_test_values[1:] %}
                <option value="{{models_to_test_value}}">
                    {{models_to_test_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                How many Epochs would like you like to train your Neural Networks?
            </span>
            <br>
            <br>
            <select style="width:85px"  name="num_epoch_select"
                    id="num_epoch_select">
              <option value="{{num_epoch_values[0]}}" selected>
                                {{num_epoch_values[0]}}
              </option>
              {% for num_epoch_value in num_epoch_values[1:] %}
                <option value="{{num_epoch_value}}">
                    {{num_epoch_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                What base learning rate would you like to use?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="learning_rate_select"
                    id="learning_rate_select">
              <option value="{{learning_rate_values[1]}}" selected>
                                {{learning_rate_values[1]}}
              </option>
              {% for learning_rate_value in learning_rate_values[1:] %}
                <option value="{{learning_rate_value}}">
                    {{learning_rate_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                What do you want your lower limit for your network ensemble to be?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="limit1_values_select"
                    id="limit1_values_select">
              <option value="{{limit1_values[14]}}" selected>
                                {{limit1_values[14]}}
              </option>
              {% for limit1_value in limit1_values[1:] %}
                <option value="{{limit1_value}}">
                    {{limit1_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                What do you want your middle limit for your network ensemble to be?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="limit2_values_select"
                    id="limit2_values_select">
              <option value="{{limit2_values[14]}}" selected>
                                {{limit2_values[14]}}
              </option>
              {% for limit2_value in limit2_values[1:] %}
                <option value="{{limit2_value}}">
                    {{limit2_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                What do you want your high limit for your network ensemble to be?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="limit3_values_select"
                    id="limit3_values_select">
              <option value="{{limit3_values[14]}}" selected>
                                {{limit3_values[14]}}
              </option>
              {% for limit3_value in limit3_values[1:] %}
                <option value="{{limit3_value}}">
                    {{limit3_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                How many days do you want to consider for your momentum calculation?
            </span>
            <br>
            <br>
            <select style="width:50px"  name="momentum_consideration_day_select"
                    id="momentum_consideration_day_select">
              <option value="{{momentum_consideration_day_values[14]}}" selected>
                                {{momentum_consideration_day_values[14]}}
              </option>
              {% for momentum_consideration_day_value in momentum_consideration_day_values[1:] %}
                <option value="{{momentum_consideration_day_value}}">
                    {{momentum_consideration_day_value}}
                </option>
              {% endfor %}
            </select>
            <br>
            <br>
            <span>
                How many days in sample to consider leading up to current day? (lead up time)
            </span>
            <br>
            <br>
            <select style="width:50px"  name="lead_up_day_select"
                    id="lead_up_day_select">
              <option value="{{lead_up_day_values[14]}}" selected>
                                {{lead_up_day_values[14]}}
              </option>
              {% for lead_up_day_value in lead_up_day_values[1:] %}
                <option value="{{lead_up_day_value}}">
                    {{lead_up_day_value}}
                </option>
              {% endfor %}
            </select>
        </td>
        <td>
            <button id="train_button"
                    onclick="
                    server.store_user_training_choices('t_status',
                    'm_name_input','train_button',
                    'models_to_test_select','num_epoch_select',
                    'learning_rate_select','lead_up_day_select',
                    'limit1_values_select', 'limit2_values_select',
                    'limit3_values_select',
                    'momentum_consideration_day_select',
                    'checkbox_putt_call',
                    'checkbox_junk_bond_demand',
                    'checkbox_mcclellan_summation_index'),
                    clearTrainingStatusBox()" disabled>Train</button>
            <br>
            <br>
            <textarea readonly id="t_status" style="white-space: pre;overflow-wrap: normal;
                overflow-x: scroll;width:500px;height:500px;line-height:1em;
                color:dimgrey;padding:1px;resize:true;">
            </textarea>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <button id="c_button" onclick="server.cancel_training('t_status')"
                    disabled>Cancel Training</button>
            <input type="checkbox" id="cancel_interlock"
                   name="cancel_interlock" value="cancel_ok"
                   onclick="enableCancelButton(this)">
            Enable Cancel?
        </td>
    </tr>
</table>
<br>
</body>

<script>
    // source: https://www.encodedna.com/javascript/
    // disable-or-enable-submit-button-using-javascript.htm
    function enableTrainButton(){
        let m_name_input = document.getElementById('m_name_input').value;
        let t_button = document.getElementById('train_button');
        if (m_name_input.value != ''&&
            document.getElementById('input_interlock').value === 'True') {
            t_button.disabled = false;
        }
        else {
            t_button.disabled = true;
        }
    }

    function enableCancelButton(cancel_interlock) {
        let c_button = document.getElementById('c_button');
        if (cancel_interlock.checked) {
            c_button.disabled = false;
        } else {
            c_button.disabled = true;
        }
    }

    function clearTrainingStatusBox(){
        document.getElementById('t_status').innerHTML = ""
    }

    function setInputInterlock(input_option_checkbox){
        if (input_option_checkbox.checked){
            input_option_checkbox.value = "True";
            document.getElementById('input_interlock').value = 'True'

            // This function call will attempt to enable the 'Generate Dataset'
            // button, in order for that button to be enabled... the user must
            // at least select one input and a Dataset name.
            enableTrainButton()
        } else{
            // Set this checkbox to false if it was unchecked by the user
           input_option_checkbox.value = "False";

        // Get all the checkboxes status by looping through a list.
        // this also checks for any checkmarks that have already been checked
        // if one is found 'any_checked' is set to true.  This will be used
        // further down when determining what the status of the
        // 'input_interlock' value should be.  This interlock is one of the two
        // interlocks that must be satisfied in order for the
        // 'Generate Dataset' button to be enabled.
        // (the other is 'Dataset Name')
            let any_checked = false
            const check_box_id_array = ["checkbox_putt_call",
                                        "checkbox_junk_bond_demand",
                                        "checkbox_mcclellan_summation_index",
                                        "checkbox_lead_up_days"]

            for (let i = 0; i < check_box_id_array.length; i++) {
                if (document.getElementById(check_box_id_array[i]).value
                                                                === "True") {
                    any_checked = true
                }
            }
            if (any_checked === false) {
                document.getElementById('input_interlock').value = 'False'
                enableTrainButton()
            }
        }
    }

    // This little function enables/disables the lag time selector when the Lag Time
    // check mark is checked by the user.
    function setLeadUpInterlock(checkbox_lead_up_days){
        if (checkbox_lead_up_days.checked){
            document.getElementById('lead_up_days_select').disabled = false
        }else{
            document.getElementById('lead_up_days_select').disabled = true
        }
    }

    function forceReload(){
        window.location.reload( true )
    }
</script>
</html>